.cortina-involucro {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.cortina-capa {
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
  background-color: #1b1b1b;
  z-index: 2;
  border-radius: 1rem;
}

.cortina-conteudo {
  position: relative;
  z-index: 1;
  border-radius: 1rem;
}