.reveal-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 0.7rem;

}

.reveal-wrapper:hover {
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
  border-color: #666666;
}

.reveal-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1b1b1b; /* amarelo dourado */
  z-index: 2;
}

.reveal-content {
  position: relative;
  z-index: 1;
}
